#pagination {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    margin: 20px 0;
}

#pagination button {
    color: #333;
    float: center;
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

#pagination button:hover:not(.active) {
    background-color: #ddd;
}

#pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

#pagination button.disabled {
    color: grey;
    cursor: not-allowed;
}

#pagination:after {
    content: "";
    display: table;
    clear: both;
}